@font-face {
  font-family: 'Atlas Grotesk';
  src: url('../fonts/AtlasGrotesk-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 360px !important;
  margin: 0 auto;
  background-color: #fff;
}

#content {
  width: 90%;
  margin: 0 auto;
}

#graphic {
  display: flex;
}

#video-container {
  flex-basis: 57%;
  max-width: 620px;
  position: relative;
  overflow-x: hidden;
}

#video-container video {
  position: relative;
  z-index: 0;
  width: 100%;
  object-fit: cover;
}

#text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: Atlas Grotesk !important;
  font-size: .85rem;
  padding: 20px;
  line-height: 1.9;
  text-align: justify;
}

div.baby-tile {
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-12px, 6px);
}